.login_section{
    display: flex;
    position: absolute;
    top: 30%;
    width: 100%;
}

.login_section_ul{
    display: flex;
    list-style: none;
    width: 100%;
}
.login_pic_li{
    position: relative;
    width: 100%;
    z-index: -9999;
}

.login_pic{
    float: right;
    width: 40%;
    padding-right: 10%;
}

.prfile_pci_upload{
    margin-left: 10%;
}
.Login_title{
    position: relative;
    padding-left: 5%;
}
.login_section_main{
    position: absolute;
    width: 50%;
    top: 10%;
    left: 15%;
}

.login_pic{
    float: right;
    width: 40%;
    padding-right: 10%;
}
.show_password{
    margin-bottom: 2%;
}
.login_btn_ul{
    display: flex;
    list-style: none;
    width: 50%;
    height: inherit;
}

.login_btn_ul li{
    margin-bottom: 2%;
    height: fit-content;
    width: inherit;
}

.login_submit_btn{
    width: 65%;
    height: 10%;
    background-color: #FF7539;
    border-radius: 20px;
    color: white;
    font-size: large;
    cursor: pointer;
}

.login_cancle_btn{
    width: 65%;
    height: 10%;
    background-color: #FF7539;
    border-radius: 20px;
    color: white;
    font-size: large;
    cursor: pointer;

}

.ant-input {
    border-radius: 20px;
}