/* @media all and (min-width: 480px) { */
    .login_content{
        display: flex;
        position: absolute;
        top: 30%;
        width: 100%;
    }
    .Background {
        width: 20px;
        height: 20px;
        
        padding-top: 30%;
        padding-left: 50%;
    }

    .Welcome {
        padding-top: 30%;
        padding-left: 43%;
        font-size: x-large;
    }
    .Login form {
        padding-top: 30%;
        padding-left: 43%;
        max-width: 320px;
    }
    .login_content_ul{
        display: flex;
        list-style: none;
        width: 100%;
    }
    .login_img{
        /* width: 20%; */
    }
/* } */