*{
    padding: 0;
    margin: 0;
}

.post-title{
    font-size: x-large;
    width: 92%;
}

.list{
    display: flex;
}

.content-pic{
    display: flex;
}
.li-rating{
    margin-top: 1%;
    color: gray;
    font-size: large;
    padding-left: 4%;
}

.li-rating-value{
    margin-top: 1.4%;
    padding-left: 2%;
    color: #FF7539;
    font-size: large;
}

.rating{
    font-size: large;
    padding-top: 40%;
    width: 100%;
}

.time{
    display: flex;
    position: relative;
    float: right;
    padding-right: 10%;
    padding-top: 15%;
    color: gray;
    
}

.res-name{
    width: auto;
    height: auto;
    margin-top: 5%;
}

.res-location{
    padding-top: 2%;
}

.post-content{
    margin-bottom: 10%;
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    float: right;
}

.pic{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.food-pic-post{
    width: 5%;
    height: 5%;
}

.food-pic-in-post{
    float: right;
}


.name-text{
    padding-left: 2%;
}
.location-text{
    padding-left: 2%;
}
.location-pic-post{
    width: 5%;
    height: 5%;
}


